h1{
    color: magenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#titulo{
    color: aquamarine;
}

.negrilla{
    font-weight: bold;

}

#cabecera{
    background-color: rgba(6, 255, 222, 0.774);
    width: 100vw;
    height: 35vh;
}

#contTexto{
    background-color: bisque;
    width: 50%;
    height: 100%;
    float: left;
}

#contImagen{
    background-color: red ;
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    
}

body {
    background-color: grey;
}
#subtitulo{
    font-size: 2.5rem;

}
#tituloCabecera{
    font-size: 5rem;

}